<!--NOTIFICATIONS-->
<button id="notifications" mat-icon-button button-size size="40px" [matMenuTriggerFor]="notificationsMenu">
    <i class="fas fa-bell fa-1-5x" matBadge="{{unreadNotificationCounter}}"
        matBadgeHidden="{{unreadNotificationCounter == 0}}" matBadgeColor="warn"></i>
</button>

<mat-menu #notificationsMenu="matMenu" class="notifications-menu-container">

    <!--BUG with mat menu integration https://github.com/angular/components/issues/10122 -->
    <!-- <cdk-virtual-scroll-viewport class="virtual-scroll-viewport" itemSize="{{60}}" minBufferPx="{{60 * 3}}" maxBufferPx="{{60 * 3 * 3}}" (scrolledIndexChange)="loadMoreNotifications($event)">
            <div *cdkVirtualFor="let item of notifications; let i = index; let c = count" class="virtual-scroll-item">
               <app-notification-item [model]="item" (clickEvent)="notificationClicked($event)"></app-notification-item>
               <mat-divider *ngIf="!(i + 1 == c - 1)"></mat-divider>
            </div>
            <button classy="w-100 mt-3" mat-stroked-button color="primary" (click)="loadMoreNotifications()" (click)="$event.stopPropagation()">Show more notifications</button>
          </cdk-virtual-scroll-viewport> -->

    <p id="no-notifications" fxLayout="row" fxLayoutAlign="center" *ngIf="!notifications || notifications.length == 0">
        <i>{{'NOTIFICATIONS.NO_NOTIFICATIONS' | translate}}</i>
    </p>

    <div id="notification-item-wrapper" *ngIf="notifications && notifications.length > 0">

        <div *ngFor="let item of notifications; let i = index; let c = count" class="virtual-scroll-item">
            <app-notification-item [model]="item" (click)="$event.stopPropagation()" (click)="onClickNotification(item)"
                (mouseover)="!item.read ? onHoverNotification(item) : ''"> </app-notification-item>
            <mat-divider *ngIf="!(i + 1 == c)"></mat-divider>
        </div>

    </div>

    <button class="w-100" *ngIf="!stopFetch" mat-stroked-button color="accent" (click)="$event.stopPropagation()"
        (click)="loadMoreNotifications()">{{'NOTIFICATIONS.SHOW_MORE' | translate}}</button>

</mat-menu>