<mat-toolbar color="primary" class="toolbar-navigation-bar no-padding" fxLayout="row"
  fxLayoutAlign="space-between center">

  <div *ngIf="!isPublic" id="left" fxLayout="row wrap" fxLayoutAlign="center center">

    <button mat-icon-button (click)="onToggleSidebar()">
      <i class="fas fa-bars fa-lg"></i>
    </button>

  </div>

  <div *ngIf="!isPublic" id="right" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="center center">

    <!--MESSENGER-->
    <!-- <button id="messaging" mat-icon-button routerLink="/app/chat" [matBadge]="(unreadChatMessages | async)"
      matBadgeColor="warn" [matBadgeHidden]="(unreadChatMessages | async) == 0"
      matTooltip="{{'TOOLBAR.CHAT' | translate }}">
      <i class="fas fa-comments"></i>
    </button> -->

    <!--NOTIFICATIONS-->
    <app-notifications [userInfo]="userInfo"></app-notifications>

    <!--AVATAR-->
    <button id="avatar" mat-icon-button button-size size="40px" [matMenuTriggerFor]="userMenu"
      matTooltip="{{'TOOLBAR.PROFILE_LABEL' | translate }}">
      <img class="img-fluid avatar-img" src="{{ userInfo.avatar }}" style="max-width: 40px;" />
    </button>


    <!--AVATAR MENU-->
    <mat-menu #userMenu="matMenu">

      <div class="container" fxLayout="column wrap">

        <div id="avatar-settings-row" fxFlexAlign="end">
          <button mat-icon-button (click)="onOpenSettings()" matTooltip="{{'TOOLBAR.SETTINGS_LABEL' | translate }}">
            <i id="settings" class="fas fa-cog"></i>
          </button>
        </div>

        <div id="avatar-content-row" fxFlexAlign="center">
          <img id="content-avatar" class="img-fluid avatar-img" src="{{ userInfo.avatar }}"
            style="width: 100px; cursor: pointer;" />
        </div>

        <div id="avatar-actions-row" fxLayout="row wrap" fxLayoutGap="3rem" fxLayoutAlign="space-between center">
          <button mat-stroked-button>
            {{ 'AVATAR_DIALOG.HOMEPAGE' | translate }}
          </button>
          <button id="logout" (click)="onLogout()" mat-button color="accent">
            {{ 'AVATAR_DIALOG.SIGN_OUT' | translate }}
          </button>
        </div>
      </div>

    </mat-menu>

  </div>

</mat-toolbar>

<ng-container *ngIf="(loading$ | async)">
  <mat-progress-bar class="loading-bar" mode="indeterminate" color="accent"></mat-progress-bar>
</ng-container>